<div class="container p-4">
    <div class="row">
        <div class="card-columns">
            {{#each imagenes}}
            <div class="card animated fadeInDown">
                <img src="{{path}}" alt="Una imagen" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">
                        {{title}}
                    </h5>
                    <p class="card-text"> {{description}}</p>
                    <p class="card-text">{{created_at}}</p>
                    <a href="/imagen/{{uuid}}" class="btn btn-primary btn-block"> View Profile</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>