<div class="container p-4">
    <div class="row ">
        <div class="col-md-4 offset-md-4">
        <div class="card animated fadeInDown">
            <img src="{{path}}" alt="Una imagen" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">
                    {{title}}
                </h5>
                <p class="card-text">{{description}}</p>
                <p class="card-text">{{timeago created_at}}</p>
       {{!--          <p class="card-text">{{uuid}}</p>
                <p class="card-text">{{path}}</p> --}}
                <a href="/imagen/{{uuid}}/delete" class="btn btn-danger btn-block"> Delete</a>
            </div>
        </div>
        </div>

    </div>
</div>